:root {
    --color-heading: #0B0D19;
    --color-body: #677386;
    --color-bg-button: #3D7BFA;
    --color-text-button: #FFF;

    /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
    --hide-overlay: 1;
}


/* Begynd her... */
.grid_2{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 2rem;
}

button{
    border-radius: 2rem;
    margin: 2px 3px;
    background-color: var(--color-bg-button);
}

h1{
    
}

